# Object files
*.o
*.d
*.lss

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.bin

# Other
.DS_Store
*.bak
